

/****shared styles**/
.full-body {
    background-color: #F5F5F5;
}
.cg1 {
    color:#0E0E0E;
    opacity: 50%;
}
.btn-c1 {
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    padding: 15px 15px;
    border: none;
}


/*navvvvvvvv**/
.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 145px;
    align-items: center;
}
.nav-title {
    font-size: 28px;
    font-weight: bold;
}

.bgcless-btn {
    padding: 10px 10px;
    color: #006A50;
}

/***banner***/
.banner  {
    background-color: #C6E4D6;
    height: 500px;
    max-width: 1100px;
    border-radius: 24px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.banner-title-div {
    margin-left: 50px;
}
.banner-subtitle {
    font-weight: medium;
    font-size: 22px;
    line-height: 0;
    margin-bottom: 20px;


}
.banner-title {
    font-size: 50px;
    font-weight: bold;
}

/***main**/

/****pillar section****/

.pillar {
    margin: 80px auto;
    max-width: 1100px;
}

.pillar-title {
    margin-left: 17px;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: bold;
    color:#0E0E0E;
}
.pillar-box-parent {
    display: flex;
    justify-content: space-evenly;

    
}
.pillar-box {
    width: 210px;
    background-color: white;
    padding: 24px 24px;
    border-radius: 16px;
}

.pillar-box-title {
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
}

.pillar-para {
    font-size: 16px;
    
    color: #0E0E0E;
    opacity: 70%;
}

/**vision**/

.vision-slogan {
    margin-left: 17px;
}
.vision {
    margin: 80px auto;
    max-width: 1100px;
}

.vision-title {
    font-size: 35px;
    font-weight: bold;
    color:#0E0E0E;
}

.vision-para {
    font-size: 16px;
    color: #0E0E0E;
    opacity: 70%;

}
.vision-box-parent {
    display: flex;
    justify-content: space-evenly;

    
}
.vision-box {
    width: 300px;
    padding: 24px 24px;
    border-radius: 16px;
}
#vb1 {
    background-color: #c6e4d6;
}

#vb2 {
    background-color: #d5e1f5;
}

#vb3 {
    background-color: #f7ebcf;
}

.vision-box-title {
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
}

.vision-description {
    font-size: 16px;
    
    color: #0E0E0E;
    opacity: 70%;
}
#btn1 {
    max-width: 120px;
    height: 35px;
    background-color: #5490F5;
    border-radius: 8px;
    border: none;
}

#btn2 {
    max-width: 120px;
    height: 35px;
    background-color: #09A15C;
    border-radius: 8px;
    border: none;
    margin-top: 17px;
}

#btn3 {
    max-width: 120px;
    height: 35px;
    background-color: #FFC239;
    border-radius: 8px;
    border: none;
}

/*****news section***/
.news-section {
    margin: 80px auto;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
}

.news1 {
    border-radius: 24px;
    height: auto;
    display: flex;
    background-color: white;
    margin-bottom: 30px;
    padding: 30px;
    align-items: center;
}
.news-img {
    height: 250px;
    max-width: 350px;
    border-radius: 20px;
}

.news-content {
    margin-left: 30px;

}

.news2 {
    border-radius: 24px;
    height: auto;
    display: flex;
    background-color: white;
    margin-bottom: 30px;
    padding: 30px;
    align-items: center;
    flex-direction: row-reverse;
}

.news-content-title {
    
    font-weight: bold;
}

.news-button {
    padding: 10px 10px;
    color: white;
    background-color: #006A50;
    border: none;
    border-radius: 5px;

}
/****donation sec******/
.donation {
    margin: 80px auto;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
}

.donation-title> h2 {
    text-align: center;
}
.donation-title> p {
    text-align: center;
}
.card-boxes {
    display: flex;
    justify-content: space-evenly;
}
fieldset {
    height: 50px;
    width: 150px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}
.amount {
    margin-top: 35px;
    height: 40px;
    text-align: center;
    display: block;
    
}
#donation-amount {
    background-color: #C6E4D6;
}
.infield-amount {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.donation-btn {
    margin-top: 30px;
    margin-left: 490px;
    padding: 10px 10px;
    color: white;
    background-color: #006A50;
    border: none;
    border-radius: 5px;
    width: 120px;
}